.p-details {
    margin: 50px auto;
    .details-title {
        margin-bottom: 50px;
        font-size: 25px;
        text-align: center;
        color: #666;
        .icon {
            display: inline-block;
            margin-left: 20px;
            font-size: 20px;
            color: #999;
        }
    }
    .details-content {
        justify-content: center;
        align-items: center;
        .media-body { flex: unset; }
        .details-subheading { display: inline-block; border-bottom: 2px solid #bdbdbd; }
    }
    img { margin-right: 3rem !important; }
    .details-strong { font-weight: bold; }

    @media (max-width: $breakpoint-mobile) {
        img { width: 150px; margin-right: 1rem !important;}
    }
}