.l-footer {
    padding-bottom: 100px;
    border-bottom: 5px solid #94cf59;
	background-image: url(../../images/tree.jpg);
    background-position: bottom right;
    background-size: 200px;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
}