@import "typography";

html { height: 100%; }
body {
    min-width: 320px;
    min-height: 100%;
    background-color: #f6f6f6;
}
a, a:hover, a:focus, a:active { text-decoration: none; }
img { max-width: 100%; }
input[type="radio"] { -webkit-appearance: radio; }
input, textarea, select, .ajax__htmleditor_editor_container {
    border: 1px solid #ddd;
    font-size: 16px;
}
.btn:active, .btn.active, .btn:focus, .btn.focus,
.btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
	outline: none;
	box-shadow: none;
}